*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.game{
  width:100vw;
  height:200px;
  border-bottom:3px solid black;
  position:relative;
  overflow:hidden;
}

.ground{
  position:absolute;
  bottom:0;
  width:100%;
  height:3px;
  background:black;
}

.ball{
  width:30px;
  height:30px;
  background:black;
  border-radius:50%;
  position:absolute;
  bottom:3px;
  left:50px;
}

.obstacle{
  width:10px;
  height:40px;
  background:black;
  position:absolute;
  bottom:3px;
  right:-10px;
}
